asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
cached-property==1.5.1
certifi==2018.10.15
Chameleon==2.24
chardet==3.0.4
click==6.7
colorama==0.3.7
configparser==3.7.1
constantly==15.1.0
cryptography==2.1.4
defusedxml==0.5.0
Django==1.11.18
dnspython==1.15.0
docker==3.5.1
docker-compose==1.22.0
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.3
enum34==1.1.6
flake8==3.7.4
FormEncode==1.3.0
functools32==3.2.3.post2
gmpy==1.17
html5lib==0.999999999
hyperlink==17.3.1
idna==2.6
incremental==16.10.1
ipaddress==1.0.17
jedi==0.13.2
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
lxml==4.2.1
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
obfsproxy==0.2.13
PAM==0.4.2
parso==0.3.2
Paste==2.0.3
PasteDeploy==1.5.2
PasteScript==2.0.2
pep8==1.7.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.5.0
pycrypto==2.6.1
pyflakes==2.1.0
pygobject==3.26.1
pyliblzma==0.5.3
pyOpenSSL==17.5.0
pyptlib==0.0.6
pyramid==1.6
pyserial==3.4
python-openid==2.2.5
pytz==2018.9
pyxdg==0.25
PyYAML==3.13
repoze.lru==0.7
requests==2.18.4
scgi==1.13
SecretStorage==2.3.1
service-identity==16.0.0
simplejson==3.13.2
six==1.11.0
SOAPpy==0.12.22
telepot==12.7
Tempita==0.5.2
texttable==0.9.1
translationstring==1.3
Twisted==17.9.0
typing==3.6.6
urllib3==1.24.1
venusian==1.1.0
waitress==1.0.1
webencodings==0.5
WebOb==1.7.3
websocket-client==0.53.0
WebTest==2.0.28
wstools==0.4.3
wxPython==3.0.2.0
wxPython-common==3.0.2.0
zope.component==4.3.0
zope.deprecation==4.1.2
zope.event==4.2.0
zope.hookable==4.0.4
zope.interface==4.3.2
