{% extends "template.html"%}
{% load staticfiles %}

{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      به صفحه اصلی سایت خوش آمدید! در اینجا میتوانید به سایر بخش های سایت بروید و دخل و خرج خود را وارد کنید.
    </div>
  </div>
</div>



<div class="well well-sm">
  <h3>از اینجا ثبت نام کنید.</h3>
    <div class="row">
      <div class="col-msubmit/expense/d-10 col-sm-8">
        از این بخش میتوانید ثبت نام کنید و از خدمات بستون استفاده کنید و دخل و خرج خود را ثبت کنید.
      </div>
      <br></br>
      <div class="col-md-6 col-sm-8">
        <form method="get" action="/accounts/register/">
          <button type="submit" class="btn btn-block btn-primary ">ثبت نام</button>
        </form>
      </div>
    </div>
</div>

<hr >

<div class="row">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">از اینجا خرج ها را ثبت کنید.</h3>
        </div>
        <div class="panel-body">
          از اینجا میتوانید خرج های خود را ثبت کنید و ما آن ها را ذخیره میکنیم.
          <br></br>
          <form method="get" action="/submit/expense/">
            <button type="submit" class="btn btn-block btn-primary ">ثبت خرج</button>
          </form>
        </div>
      </div>


<br /><br />

</div>



<div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">از اینجا دخل ها را ثبت کنید.</h3>
      </div>
      <div class="panel-body">
        از اینجا میتوانید دخل های خود را ثبت کنید و ما آن ها را ذخیره میکنیم.
        <br></br>
        <form method="get" action="/submit/income/">
          <button type="submit" class="btn btn-block btn-primary ">ثبت دخل</button>
        </form>
      </div>
    </div>
  </div>
</div>







{% endblock %}


{% block footer %}

<script >
$(document).ready(function () {
        $(".subtaskinput").fadeOut(0);
        $(".edittaskinput").fadeOut(0);
        $('.fa-square-o').hover(function () {
            $(this).addClass('fa-check-square-o');
            $(this).removeClass('fa-square-o');
        }, function () {
            $(this).addClass('fa-square-o');
            $(this).removeClass('fa-check-square-o');
        });

});

function showsubtaskinput(elementid){
  if ($('.btn-'+elementid).text() == '+') {
    $('.subtask-'+elementid).fadeIn(250);
    $('.subtask-'+elementid).focus();
    $('.btn-'+elementid).text ('-');
  }
  else {
    $('.subtask-'+elementid).fadeOut(250);
    $('.btn-'+elementid).text ('+');
  }
  // دگمه رو عوض کنیم به منفی و اگر منفی رو زد المنت رو حذف کنیم
  return 0;
}

function fadeout(elementid){
    $('.edittask-'+elementid).fadeOut(250);
}
function showeditinput(elementid){
    $('.edittask-'+elementid).fadeIn(250);
    $('.edittask-'+elementid).focus();
    return 0;
}
</script>

<script type="text/javascript">
$(".alert").fadeTo(10000, 500).slideUp(500, function(){
    $(".alert").slideUp(10000);
});
</script>
{% endblock %}
